.header{
  display:flex;
  /* border:2px solid red; */
  justify-content:space-between;
  position: sticky;
    z-index: 50;
    top: 0;
    background: white;
}
.navItem{
  list-style:none;
  display:flex;
  margin-top: 27px;
  margin-left: 27px;
}

.left{
  
  display: flex;
    align-items: center;
    margin: 0 1rem;
    width: 100vw;
    justify-content: space-between;
}
.left img{
  width:65px;
  object-fit:contain;
}
.hamburger{
  display: flex;
  
  align-items: center;
  margin: 0 1rem;
}
@media screen and (max-width:340px){
  .hamburger{
    margin-left:1rem;
    margin-right:0;
  }
}
.right{
  position: absolute;
  background: aqua;
  width: 150px;
  display: flex;
  flex-direction: column;
  top: 70.95px;
  height:calc(100vh - 70.95px);
  
 
}
.hide_right{
  display:none;
  
}
